.container {
  padding: 10px;
}

.header {
  margin-bottom: 20px;
}

.submissionInfo {
  display: flex;
  align-items: center;
}

.submissionInfo .infoContainer {
  margin-right: 20px;
}

.dropArea {
  display: flex;
  justify-content: center;
  border: 2px dashed var(--card-border-color);
  padding: 20px;
  margin-bottom: 20px;
}

.submittedAssignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.submittedAssignment img {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
}

.submittedAssignment .reupload {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
